    <div id="topkeyword">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobilemenu-opener ma5-toggle-menu"><i class="fa fa-bars"></i></div>
						<nav class="ma5-menu-mobile">
							<ul class="ma5-ul ma5-active-ul">
								<li class="ma5-li-1"><a class="ma5-toggle-menu"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-times"></i></span></a></li>
								<li class="ma5-li-2"> <a class="ma5-path-to-active" href="#node2">Semua Kategori</a><span class="ma5-btn-enter"><i class="fa fa-angle-right"></i></span>
									<ul class="ma5-ul-2">
										<li class="ma5-li-2-1">
											<div class="ma5-leave-bar"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-angle-left"></i></span></div>
											<a href="#node2-1">Submenu1</a>
										</li>
										<li class="ma5-li-2-2"><a href="#node2-2">Submenu2</a></li>
										<li class="ma5-li-2-3"> <a class="ma5-path-to-active" href="#node2-3">Submenu3</a><span class="ma5-btn-enter"><i class="fa fa-angle-right"></i></span>
											<!-- active panel -->
											<ul class="ma5-ul-2-3">
												<li class="ma5-li-2-3-1">
													<div class="ma5-leave-bar"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-angle-left"></i></span></div>
													<a href="#node2-3-1">Isi Submenu3-1</a>
												</li>
												<li class="ma5-li-2-3-3"><a href="#node2-3-3">Isi Submenu3-2</a></li>
												<li class="ma5-li-2-3-4"><a href="#node2-3-4">Isi Submenu3-3</a></li>
											</ul>
										</li>
										<li class="ma5-li-2-4"><a href="#node2-4">Submenu4</a></li>
									</ul>
								</li>
								<li class="ma5-li-3"><a href="#node3">e-voucher</a></li>
								<li class="ma5-li-4"><a href="#node4">Hot Deals</a></li>
								<li class="ma5-li-6"><a href="#node6">Voucher Deals</a></li>
								<li class="ma5-li-6"><a href="#node6">Promo!</a></li>
							</ul>
						</nav>
						<span id="labeltopkeyword">Top Keyword</span>
						<ul id="list-topkeyword">
							<li><a href="#">Xiaomi Redmi</a></li>
							<li><a href="#">Samsung</a></li>
							<li><a href="#">Pakaian muslim</a></li>
							<li><a href="#">Xiaomi redmi</a></li>
							<li><a href="#">Acer Aspire</a></li>
							<li><a href="#">Sneakers</a></li>
							<li><a href="#">Hoodie</a></li>
						</ul>
						<div class="troliatas mobile">
							<div class="itemtrolli">
								<span id="ttmitem">
									<a data-toggle="dropdown" role="button">Troli - (0)</a>
									<ul class="dropdown-menu styleddropdown">
										<li>
											<a href="#" class="wrapctncart">
												<div class="thumbcart">
													<img src="https://placehold.it/120x120" class="responsiveimg">
												</div>
												<div class="ctncart">
													<h4>Sample Product</h4>
													<span class="typeorange">Rp 120.000</span>
												</div>
											</a>
										</li>
										<li><a href="#" class="lhsm-btn cart">Checkout</a></li>
									</ul>
								</span>
								<a href="#"><span id="icontroli"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="nav-breadcumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="compresedmenu">
							<div class="headingcompresed">
								<i class="fa fa-bars"></i> &nbsp; <span>Kategori</span> &nbsp; <i class="fa fa-angle-down"></i>
							</div>
							<div id="sidemenu" class="ctn-compresed">
								<ul>
									<li>
										<span class="iconsidemenu ifashion"></span> Fashion
										<div class="submenu">
											<div class="rowsubmenu col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terbaru</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu  col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terpopuler</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terbaru</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu  col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terpopuler</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<span class="iconsidemenu igadget"></span> Gadget / Komputer
									</li>
									<li>
										<span class="iconsidemenu ibeauty"></span> Beauty / Health
									</li>
									<li>
										<span class="iconsidemenu ielektro"></span> Elektronik
									</li>
									<li>
										<span class="iconsidemenu isport"></span> Sport / Hobi / Otomotif
									</li>
									<li>
										<span class="iconsidemenu ihome"></span> Home / Garden
									</li>
									<li>
										<span class="iconsidemenu iservice"></span> Service
									</li>
									<li>
										<span class="iconsidemenu imakanan"></span> Makanan & Minuman
									</li>
								</ul>
							</div>
						</div>
						<div class="breadcumb">
							<span><a href="#">Home</a></span>
							<span>></span>
							<span><a href="#">Akun Saya</a></span>
							<span>></span>
							<span><a href="/tokos/new">Buat Toko</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ./Header -->

		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn" id="btn-SHsidebar"><i class="fa fa-user" style="margin-right:1em;"></i> Member Menu</button>
				</div>
			</div>
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-sm-9 wrappermakctn">
          <div class="row">
						<div class="col-md-12">
							<div class="headingmac">
								<h4>Buat Toko</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-info">
								<i class="fa fa-smile-o"></i> &nbsp; Ayo buat Toko dan Kembangkan Penjualanmu di Loveitmart!
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
              <% if Toko.exists?(user_id: current_user.id) %>
              Anda sudah memiliki Toko
              <% else %>
							<div class="colomacr">
								<div class="ctnblok-logreg">
                  <%= form_for(@toko) do |f| %>
									<div style="display:none;" class="form-row col-md-12 tampil">
										<label for="nmtoko">Nama Toko</label>
										<input type="text" name="toko[nama_toko]" id="nmtoko">
										<p class="text-muted">maksimal 24 karakter</p>
									</div>
									<div style="clear:both;"></div>
									<div class="form-row">
										<div class="row" id="tpt">
											<div class="col-md-4 spacermobile">
												<label for="tpt">Pilih Provinsi</label>
												<select class="provinsi" required="true" name="toko[provinsi]">
                          <option>Pilih Provinsi</option>
                          <% @pro.each do |p| %>
                            <option value="<%= p['province_id'] %>"><%= p['province'] %></option>
                          <% end %>
                         </select>
											</div>
                      <% if params[:provinsi] %>
											<div class="col-md-4 spacermobile">
                          <label for="kota">Kota / Kabupaten</label>
                          <select class="kota" required="true" name="toko[kota]">
                          <option>Pilih Kota/Kabupaten</option>
                          <% @cit.each do |p| %>
                            <option value="<%= p['city_id'] %>"><%= p['city_name'] %></option>
                          <% end %>
                          </select>
											</div>
                      <% end %>
                      <% if params[:kota] != "undefined" && params[:kota] %>
											<div class="col-md-4 spacermobile">
                          <label for="kec">Kecamatan</label>
                            <select class="kecamatan" required="true" name="toko[kecamatan]">
                            <option>Pilih Kecamatan</option>
                            <% @kec.each do |p| %>
                              <option value="<%= p['subdistrict_id'] %>"><%= p['subdistrict_name'] %></option>
                            <% end %>
                            </select>
											</div>
                      <% end %>
										</div>
									</div>
									<div style="display:none;" class="form-row col-md-3 tampil">
										<label for="kdpos">Kode Pos</label>
										<input type="text" name="toko[kode_pos]" id="kdpos">
									</div>
									<div style="clear:both;"></div>
									<div style="display:none;" class="form-row tampil">
										<label for="kec">Pilih Agen kurir dan layanan pengiriman yang ingin anda gunakan</label>
										<div class="row">
											<div class="col-md-4">
												<p><label class="mthrcheck"><input type="checkbox" id="checkallJNE"/><img src="<%= image_path "pg-jne.jpg" %>" class="responsiveimg"></label></p>
												<fieldset class="checkboxfieldset">
													<legend>Paket JNE</legend>
													<p><label><input name="toko[agen1]" value="JNE-REG" class="cxjne" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">Reguler</span></label></p>
													<p><label><input name="toko[agen2]" value="JNE-OKE"  class="cxjne" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">OKE</span></label></p>
													<p><label><input name="toko[agen3]" value="JNE-YES"  class="cxjne" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">YES</span></label></p>
												</fieldset>
											</div>
											<div class="col-md-4">
												<p><label class="mthrcheck"><input type="checkbox" id="checkallTiki"/><img src="<%= image_path "pg-tiki.jpg" %>" class="responsiveimg"></label></p>
												<fieldset class="checkboxfieldset">
													<legend>Paket Tiki</legend>
													<p><label><input name="toko[agen4]" value="TIKI-REG"  class="cxtiki" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">Reguler</span></label></p>
													<p><label><input name="toko[agen5]" value="TIKI-ONS"  class="cxtiki" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">Over Night Service</span></label></p>
												</fieldset>
											</div>
											<div class="col-md-4">
												<p><label class="mthrcheck"><input type="checkbox" id="checkallPos"/><img src="<%= image_path "pg-pos.jpg" %>" class="responsiveimg"></label></p>
												<fieldset class="checkboxfieldset">
													<legend>Paket POS Indonesia</legend>
													<p><label><input name="toko[agen6]" value="POS-BIASA"  class="cxpos" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">Paket Biasa</span></label></p>
													<p><label><input name="toko[agen7]" value="POS-EXPRESS"  class="cxpos" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">Pos Express</span></label></p>
												</fieldset>
											</div>
										</div>
									</div>
									<hr style="border-color:#ddd;"></hr>
									<div class="form-row col-md-12 hide">
										<label for="jmlt">Nama Lengkap Anda</label>
										<input type="text" name="" id="jmlt">
									</div>
									<div style="clear:both;"></div>
									<div class="form-row hide">
										<label for="tgllhr">Tanggal Lahir</label>
										<div class="row hide" id="tgllhr">
											<div class="col-md-3">
												<select>
													<option>Tanggal</option>
													<option>10</option>
													<option>11</option>
													<option>12</option>
												</select>
											</div>
											<div class="col-md-5 hide">
												<select>
													<option>Bulan</option>
													<option>September</option>
													<option>Oktober</option>
													<option>November</option>
												</select>
											</div>
											<div class="col-md-4 hide">
												<select>
													<option>Tahun</option>
													<option>1990</option>
													<option>1991</option>
													<option>1992</option>
												</select>
											</div>
										</div>
									</div>
									<div class="form-row hide">
										<label for="jk">Jenis Kelamin</label>
										<span class="rowjk"><input type="radio" name="sex" value="male" checked>&nbsp; Pria</span>
										<span class="rowjk"><input type="radio" name="sex" value="female">&nbsp; Wanita</span>
									</div>
									<div class="form-row hide">
										<label for="email">Nomor Handphone</label>
										<input type="text" name="" id="email" placeholder="Nomor Handphone/Telp">
									</div>
									<div class="form-row hide">
										<label for="password">Alamat Email</label>
										<input type="email" name="" id="password" placeholder="Alamat Email">
									</div>
									<div class="form-row hide">
										<label for="password">Password</label>
										<input type="password" name="" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
									</div>
									<div class="form-row hide">
										<label for="password">Ketik Ulang Password</label>
										<input type="password" name="" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
									</div>
									<br>
									<p  style="display:none;" class="text-muted tampil">- Pastikan Anda mengisi data dengan benar</p>
									<p  style="display:none;" class="text-muted tampil">- Dengan membuat toko di Loveitmart.com, Anda vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt</p>
									<br>
									<div  style="display:none;" class="form-row reg tampil">
										<input type="submit" name="" value="Buat Toko" class="gosignin" >
                    <% end %>
									</div>
								</div>
							</div>
              <% end %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="spacerbig"></div>
		<%= render 'layouts/footer' %>

		<script>
			$("#checkallJNE").change(function () {
				$(".cxjne:checkbox").prop('checked', $(this).prop("checked"));
			});
			$("#checkallTiki").change(function () {
				$(".cxtiki:checkbox").prop('checked', $(this).prop("checked"));
			});
			$("#checkallPos").change(function () {
				$(".cxpos:checkbox").prop('checked', $(this).prop("checked"));
			});
		</script>
<script>
    $('.provinsi option[value=<%=params[:provinsi]%>]').attr('selected','selected');
    $('.kota option[value=<%=params[:kota]%>]').attr('selected','selected');
</script>
<script>
$(document).on('ready page:load', function () {
  $('.kecamatan').bind("keyup change", function(){
        $('.tampil').fadeIn(2000);
        var a = $('.provinsi option:selected').text();
        var b = $('.kota option:selected').text();
        var c = $('.kecamatan option:selected').text();
        $('#alamat_provinsi_sebagai').val(a);
        $('#alamat_kota_sebagai').val(b);
        $('#alamat_kecamatan_sebagai').val(c);
    });
});
</script>
<script>
$(document).on('ready page:load', function () {
  $('.provinsi, .kota').bind("keyup change", function(){
        var newurl = "/tokos/new" + "/" + $('.provinsi').val() <% if @cit %>+ "/" + $('.kota').val()<% end %>;
        Turbolinks.visit(newurl);
    });
});
</script>