		<div id="topkeyword">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobilemenu-opener ma5-toggle-menu"><i class="fa fa-bars"></i></div>
						<nav class="ma5-menu-mobile">
							<ul class="ma5-ul ma5-active-ul">
								<li class="ma5-li-1"><a class="ma5-toggle-menu"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-times"></i></span></a></li>
								<li class="ma5-li-2"> <a class="ma5-path-to-active" href="#node2">Semua Kategori</a><span class="ma5-btn-enter"><i class="fa fa-angle-right"></i></span>
									<ul class="ma5-ul-2">
										<li class="ma5-li-2-1">
											<div class="ma5-leave-bar"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-angle-left"></i></span></div>
											<a href="#node2-1">Submenu1</a>
										</li>
										<li class="ma5-li-2-2"><a href="#node2-2">Submenu2</a></li>
										<li class="ma5-li-2-3"> <a class="ma5-path-to-active" href="#node2-3">Submenu3</a><span class="ma5-btn-enter"><i class="fa fa-angle-right"></i></span>
											<!-- active panel -->
											<ul class="ma5-ul-2-3">
												<li class="ma5-li-2-3-1">
													<div class="ma5-leave-bar"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-angle-left"></i></span></div>
													<a href="#node2-3-1">Isi Submenu3-1</a>
												</li>
												<li class="ma5-li-2-3-3"><a href="#node2-3-3">Isi Submenu3-2</a></li>
												<li class="ma5-li-2-3-4"><a href="#node2-3-4">Isi Submenu3-3</a></li>
											</ul>
										</li>
										<li class="ma5-li-2-4"><a href="#node2-4">Submenu4</a></li>
									</ul>
								</li>
								<li class="ma5-li-3"><a href="#node3">e-voucher</a></li>
								<li class="ma5-li-4"><a href="#node4">Hot Deals</a></li>
								<li class="ma5-li-6"><a href="#node6">Voucher Deals</a></li>
								<li class="ma5-li-6"><a href="#node6">Promo!</a></li>
							</ul>
						</nav>
						<span id="labeltopkeyword">Top Keyword</span>
						<ul id="list-topkeyword">
							<li><a href="#">Xiaomi Redmi</a></li>
							<li><a href="#">Samsung</a></li>
							<li><a href="#">Pakaian muslim</a></li>
							<li><a href="#">Xiaomi redmi</a></li>
							<li><a href="#">Acer Aspire</a></li>
							<li><a href="#">Sneakers</a></li>
							<li><a href="#">Hoodie</a></li>
						</ul>
						<div class="troliatas mobile">
							<div class="itemtrolli">
								<span id="ttmitem">
									<a data-toggle="dropdown" role="button">Troli - (0)</a>
									<ul class="dropdown-menu styleddropdown">
										<li>
											<a href="#" class="wrapctncart">
												<div class="thumbcart">
													<img src="http://placehold.it/120x120" class="responsiveimg">
												</div>
												<div class="ctncart">
													<h4>Sample Product</h4>
													<span class="typeorange">Rp 120.000</span>
												</div>
											</a>
										</li>
										<li><a href="#" class="lhsm-btn cart">Checkout</a></li>
									</ul>
								</span>
								<a href="#"><span id="icontroli"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="nav-breadcumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="compresedmenu">
							<div class="headingcompresed">
								<i class="fa fa-bars"></i> &nbsp; <span>Kategori</span> &nbsp; <i class="fa fa-angle-down"></i>
							</div>
							<div id="sidemenu" class="ctn-compresed">
								<ul>
									<li>
										<span class="iconsidemenu ifashion"></span> Fashion
										<div class="submenu">
											<div class="rowsubmenu col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terbaru</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu  col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terpopuler</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terbaru</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu  col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terpopuler</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<span class="iconsidemenu igadget"></span> Gadget / Komputer
									</li>
									<li>
										<span class="iconsidemenu ibeauty"></span> Beauty / Health
									</li>
									<li>
										<span class="iconsidemenu ielektro"></span> Elektronik
									</li>
									<li>
										<span class="iconsidemenu isport"></span> Sport / Hobi / Otomotif
									</li>
									<li>
										<span class="iconsidemenu ihome"></span> Home / Garden
									</li>
									<li>
										<span class="iconsidemenu iservice"></span> Service
									</li>
									<li>
										<span class="iconsidemenu imakanan"></span> Makanan & Minuman
									</li>
								</ul>
							</div>
						</div>
						<div class="breadcumb">
							<span><a href="#">Home</a></span>
							<span>></span>
							<span><a href="#">Akun Saya</a></span>
							<span>></span>
							<span><a href="#">Pengaturan Toko</a></span>
							<span>></span>
							<span><a href="#">Pengiriman</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ./Header -->

		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn" id="btn-SHsidebar"><i class="fa fa-user" style="margin-right:1em;"></i> Member Menu</button>
				</div>
			</div>
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-sm-9 wrappermakctn">
					<div class="row">
						<div class="col-md-12">
							<ul class="tablink-akun">
								<li><a href="#">Informasi Toko</a></li>
								<li><a href="#">Kategori</a></li>
								<li class="activeli"><a href="#">Pengiriman</a></li>
								<li><a href="#">Pembayaran</a></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<form>
								<div class="form-row">
									<div class="row">
										<div class="col-md-12">
											<label for="tpt">Kota Asal</label>
										</div>
									</div>
									<div class="spacermedium"></div>
									<div class="row" id="tpt">
										<div class="col-md-4 spacermobile">
                      <%= form_for Toko.new do |f| %>
											<label for="tpt" class="minitextlbl">Pilih Provinsi</label>
											<%= f.select :provinsi, ["Jawa Barat", "Jawa Tengah", "Jawa Timur"] %>
										</div>
										<div class="col-md-4 spacermobile">
											<label for="tpt"  class="minitextlbl">Pilih Kota</label>
											<%= f.select :kota, ["Bandung", "Jakarta", "Semarang"] %>
										</div>
										<div class="col-md-4 spacermobile">
											<label for="tpt" class="minitextlbl">Pilih Kecamatan</label>
											<%= f.select :kecamatan, ["Jawa Barat", "Jawa Tengah", "Jawa Timur"] %>
											<div class="spacermedium"></div>
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="row">
										<div class="col-md-4">
											<label for="nmtoko">Kode Pos</label>
											<%= f.text_field :kode_pos %>
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="row">
										<div class="col-md-12">
											<label for="nmtoko">Layanan Shipping</label>
											<p class="text-muted">Anda bisa memilih lebih dari satu paket pengiriman. Kami menganjurkan Anda untuk mendukung semua paket pengiriman yang didukung oleh sistem kami, guna memberikan pilihan yang lebih luas kepada calon pelanggan Anda.</p>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
												<p><label class="mthrcheck"><input type="checkbox" id="checkallJNE"/><img src="<%= image_path "pg-jne.jpg" %>" class="responsiveimg"></label></p>
												<fieldset class="checkboxfieldset">
													<legend>Paket JNE</legend>
													<p><label><input name="toko[agen1]" value="JNE-REG" class="cxjne" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">Reguler</span></label></p>
													<p><label><input name="toko[agen2]" value="JNE-OKE"  class="cxjne" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">OKE</span></label></p>
													<p><label><input name="toko[agen3]" value="JNE-YES"  class="cxjne" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">YES</span></label></p>
												</fieldset>
										</div>
										<div class="col-md-4">
											<p><label class="mthrcheck"><input type="checkbox" id="checkallTiki"/><img src="<%= image_path "pg-tiki.jpg" %>" class="responsiveimg"></label></p>
												<fieldset class="checkboxfieldset">
													<legend>Paket Tiki</legend>
													<p><label><input name="toko[agen4]" value="TIKI-REG"  class="cxtiki" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">Reguler</span></label></p>
													<p><label><input name="toko[agen5]" value="TIKI-ONS"  class="cxtiki" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">Over Night Service</span></label></p>
												</fieldset>
										</div>
										<div class="col-md-4">
											<p><label class="mthrcheck"><input type="checkbox" id="checkallPos"/><img src="<%= image_path "pg-pos.jpg" %>" class="responsiveimg"></label></p>
												<fieldset class="checkboxfieldset">
													<legend>Paket POS Indonesia</legend>
													<p><label><input name="toko[agen6]" value="POS-BIASA"  class="cxpos" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">Paket Biasa</span></label></p>
													<p><label><input name="toko[agen7]" value="POS-EXPRESS"  class="cxpos" type="checkbox" /> <span data-toggle="tooltip" title="praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident">Pos Express</span></label></p>
												</fieldset>
										</div>
									</div>
								</div>
								<div class="spacermedium"></div>
								<div class="form-row reg">
									<input type="submit" name="" value="Simpan" class="gosignin" >
                  <% end %>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="spacerbig"></div>
		<%= render  'layouts/footer' %>

		<script>
			$("#checkallJNE").change(function () {
				$(".cxjne:checkbox").prop('checked', $(this).prop("checked"));
			});
			$("#checkallTiki").change(function () {
				$(".cxtiki:checkbox").prop('checked', $(this).prop("checked"));
			});
			$("#checkallPos").change(function () {
				$(".cxpos:checkbox").prop('checked', $(this).prop("checked"));
			});
		</script>