<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @homeitem.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @homeitem.description %>
</p>

<p>
  <strong>Img1:</strong>
  <%= @homeitem.img1 %>
</p>

<p>
  <strong>Img2:</strong>
  <%= @homeitem.img2 %>
</p>

<p>
  <strong>Img3:</strong>
  <%= @homeitem.img3 %>
</p>

<p>
  <strong>Img4:</strong>
  <%= @homeitem.img4 %>
</p>

<p>
  <strong>Img5:</strong>
  <%= @homeitem.img5 %>
</p>

<p>
  <strong>Img6:</strong>
  <%= @homeitem.img6 %>
</p>

<p>
  <strong>Img7:</strong>
  <%= @homeitem.img7 %>
</p>

<p>
  <strong>Img8:</strong>
  <%= @homeitem.img8 %>
</p>

<p>
  <strong>Img9:</strong>
  <%= @homeitem.img9 %>
</p>

<%= link_to 'Edit', edit_homeitem_path(@homeitem) %> |
<%= link_to 'Back', homeitems_path %>
