<p id="notice"><%= notice %></p>

<h1>Listing Carts</h1>

<table>
  <thead>
    <tr>
      <th>Toko</th>
      <th>User</th>
      <th>Produk</th>
      <th>Invoice</th>
      <th>Catatan</th>
      <th>Jumlah</th>
      <th>Subtotal</th>
      <th>Total</th>
      <th>Metode pembayaran</th>
      <th>Alamat</th>
      <th>Kurir</th>
      <th>Berat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.toko_id %></td>
        <td><%= cart.user_id %></td>
        <td><%= cart.produk_id %></td>
        <td><%= cart.invoice %></td>
        <td><%= cart.catatan %></td>
        <td><%= cart.jumlah %></td>
        <td><%= cart.subtotal %></td>
        <td><%= cart.total %></td>
        <td><%= cart.metode_pembayaran %></td>
        <td><%= cart.alamat_id %></td>
        <td><%= cart.kurir %></td>
        <td><%= cart.berat %></td>
        <td><%= link_to 'Show', cart %></td>
        <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
        <td><%= link_to 'Destroy', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_cart_path %>
