<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @konfirmasi.user_id %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @konfirmasi.cart_id %>
</p>

<p>
  <strong>Tanggal:</strong>
  <%= @konfirmasi.tanggal %>
</p>

<p>
  <strong>Bulan:</strong>
  <%= @konfirmasi.bulan %>
</p>

<p>
  <strong>Tahun:</strong>
  <%= @konfirmasi.tahun %>
</p>

<p>
  <strong>Metode:</strong>
  <%= @konfirmasi.metode %>
</p>

<p>
  <strong>Dari:</strong>
  <%= @konfirmasi.dari %>
</p>

<p>
  <strong>Tujuan:</strong>
  <%= @konfirmasi.tujuan %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @konfirmasi.keterangan %>
</p>

<%= link_to 'Edit', edit_konfirmasi_path(@konfirmasi) %> |
<%= link_to 'Back', konfirmasis_path %>
