<%= render 'layouts/header' %>
<div id="topkeyword">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobilemenu-opener ma5-toggle-menu"><i class="fa fa-bars"></i></div>
						<%= render 'layouts/menumobile' %>
						<span id="labeltopkeyword">Top Keyword</span>
						<%= render 'layouts/topkey' %>
						<%= render 'layouts/trolimobile' %>
					</div>
				</div>
			</div>
		</div>

		<div id="nav-breadcumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="compresedmenu">
							<div class="headingcompresed">
								<i class="fa fa-bars"></i> &nbsp; <span>Kategori</span> &nbsp; <i class="fa fa-angle-down"></i>
							</div>
							<%= render 'layouts/sidemenu' %>
						</div>
						<%= render 'layouts/bread' %>
					</div>
				</div>
			</div>
		</div>
		<!-- ./Header -->

		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn" id="btn-SHsidebar"><i class="fa fa-user" style="margin-right:1em;"></i> Member Menu</button>
				</div>
			</div>
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-sm-9 wrappermakctn">
					<%= render 'layouts/tabakun' %>
					<div class="row">
						<div class="col-md-12">
							<div class="headingmac">
								<h4>Ubah Alamat</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="colomacr">
								<div class="ctnblok-logreg">
                  <%= form_for(@alamat) do |f| %>
                  <%= f.hidden_field :provinsi_sebagai %>
                  <%= f.hidden_field :kota_sebagai %>
                  <%= f.hidden_field :kecamatan_sebagai %>
									<div style="display:none;" class="form-row has-error">
										<label for="nmalamat">Alamat Sebagai</label>
										<input required="true" type="text" name="alamat[sebagai]" id="nmalamat" placeholder="Alamat Kantor">
										<!--<p><i class="fa fa-exclamation-triangle"></i> &nbsp;Isikan Username</p>-->
									</div>
									<div style="display:none;" class="form-row">
										<label for="penerima">Nama Penerima</label>
										<input required="true" type="text" name="alamat[nama_penerima]" id="penerima" placeholder="Irvan Bachtiar">
									</div>
									<div style="display:none;" class="form-row">
										<label for="almt">Alamat</label>
										<textarea required="true" name="alamat[alamat]" id="almt" rows="4" cols="50" style="resize:none;text-align:left;" placeholder="Jalan Kebayoran Residence, Cluster Essence, Jalan Darmawangsa V, Blok E No.1"></textarea>
									</div>
									<div style="display:none;" class="form-row">
										<label for="kdpos">Kode Pos</label>
										<input required="true" type="text" name="alamat[kode_pos]" id="kdpos" placeholder="15224">
									</div>
									<div class="form-row">
										<label for="prov">Provinsi</label>
										<select class="provinsi" required="true" name="alamat[provinsi]" id="prov">
                      <option>Pilih Provinsi</option>
                      <% @pro.each do |p| %>
                        <option value="<%= p['province_id'] %>"><%= p['province'] %></option>
                      <% end %>
                      </select>
									</div>
                  <% if params[:provinsi] %>
									<div class="form-row">
										<label for="kota">Kota / Kabupaten</label>
                    <select class="kota" required="true" name="alamat[kabupaten]" id="kota">
                    <option>Pilih Kota/Kabupaten</option>
                    <% @cit.each do |p| %>
                      <option value="<%= p['city_id'] %>"><%= p['city_name'] %></option>
                    <% end %>
                    </select>
									</div>
                  <% end %>
                  <% if params[:kota] != "undefined" && params[:kota] %>
									<div class="form-row">
										<label for="kec">Kecamatan</label>
                      <select class="kecamatan" required="true" name="alamat[kecamatan]" id="kec">
                      <option>Pilih Kecamatan</option>
                      <% @kec.each do |p| %>
                        <option value="<%= p['subdistrict_id'] %>"><%= p['subdistrict_name'] %></option>
                      <% end %>
                      </select>
									</div>
                  <% end %>
									<div style="display:none;" class="form-row">
										<label for="tlp">Nomor Telepon</label>
										<input required="true" type="text" name="alamat[nomor_telepon]" id="tlp" placeholder="08776541xxx">
									</div>
									<br>
									<div style="display:none;" class="form-row reg">
										<input type="submit" name="commit" value="Simpan" class="gosignin" >
                    <% end %>
										<a href="#" id="batalbtn">Batal</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="spacerbig"></div>
    <%= render "layouts/footer" %>
<script>
    $('.provinsi option[value=<%=params[:provinsi]%>]').attr('selected','selected');
    $('.kota option[value=<%=params[:kota]%>]').attr('selected','selected');
</script>
<script>
$(document).on('ready page:load', function () {
  $('.kecamatan').bind("keyup change", function(){
        $('.form-row').fadeIn(2000);
        var a = $('.provinsi option:selected').text();
        var b = $('.kota option:selected').text();
        var c = $('.kecamatan option:selected').text();
        $('#alamat_provinsi_sebagai').val(a);
        $('#alamat_kota_sebagai').val(b);
        $('#alamat_kecamatan_sebagai').val(c);
    });
});
</script>
<script>
$(document).on('ready page:load', function () {
  $('.provinsi, .kota').bind("keyup change", function(){
        var newurl = "/alamats/new" + "/" + $('.provinsi').val() <% if @cit %>+ "/" + $('.kota').val()<% end %>;
        Turbolinks.visit(newurl);
    });
});
</script>