<%= render 'layouts/header' %>
<div id="topkeyword">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobilemenu-opener ma5-toggle-menu"><i class="fa fa-bars"></i></div>
						<%= render 'layouts/menumobile' %>
						<span id="labeltopkeyword">Top Keyword</span>
						<%= render 'layouts/topkey' %>
						<%= render 'layouts/trolimobile' %>
					</div>
				</div>
			</div>
		</div>

		<div id="nav-breadcumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="compresedmenu">
							<div class="headingcompresed">
								<i class="fa fa-bars"></i> &nbsp; <span>Kategori</span> &nbsp; <i class="fa fa-angle-down"></i>
							</div>
							<%= render 'layouts/sidemenu' %>
						</div>
						
            <%= render 'layouts/bread' %>
					</div>
				</div>
			</div>
		</div>
		<!-- ./Header -->

		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn" id="btn-SHsidebar"><i class="fa fa-user" style="margin-right:1em;"></i> Member Menu</button>
				</div>
			</div>
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-sm-9 wrappermakctn">
					<%= render 'layouts/tabakun' %>
					<div class="row">
						<div class="col-md-12">
							<div class="headingmac">
								<h4>Ubah Rekening Bank</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="ctnblok-logreg">
                <%= form_for(@rekening) do |f| %>
                    <div class="form-row">
                      <%= f.label :Nama_akun %><br>
                      <%= f.text_field :pemilik %>
                    </div>
                    <div class="form-row">
                       <%= f.label :No_rekening %><br>
                       <%= f.text_field :nomor_rekening %>
                    </div>
                    <div><%= f.label :Nama_bank, class: "form-row" %><br />
                    <%= f.select :nama_bank, ["BCA", "BNI", "Mandiri"] %></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="ctnblok-logreg">
                <div class="form-row">
                   <%= f.label :Cabang %><br>
                   <%= f.text_field :cabang %>
                   <p class="helpertext">* Contoh: KC jakarta citra 2 extension - Jakarta Barat</p>
                </div>
								<div class="form-row">
									<label for="kdpos">Password Akun Anda</label>
									<input required="true" class="passwordrek" type="password" name="" id="kdpos" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
								</div>
								<br>
								<div class="form-row reg">
									<input type="submit" name="" value="Simpan" class="gosignin" >
                  <% end %>
									<a href="#" id="batalbtn">Batal</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="spacerbig"></div>
    <%= render 'layouts/footer' %>