<%= render 'layouts/header' %>
<div id="topkeyword">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobilemenu-opener ma5-toggle-menu"><i class="fa fa-bars"></i></div>
						<%= render 'layouts/menumobile' %>
						<span id="labeltopkeyword">Top Keyword</span>
						<%= render 'layouts/topkey' %>
						<%= render 'layouts/trolimobile' %>
					</div>
				</div>
			</div>
		</div>

		<div id="nav-breadcumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="compresedmenu">
							<div class="headingcompresed">
								<i class="fa fa-bars"></i> &nbsp; <span>Kategori</span> &nbsp; <i class="fa fa-angle-down"></i>
							</div>
							<%= render 'layouts/sidemenu' %>
						</div>
						
            <%= render 'layouts/bread' %>
					</div>
				</div>
			</div>
		</div>
		<!-- ./Header -->

		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn" id="btn-SHsidebar"><i class="fa fa-user" style="margin-right:1em;"></i> Member Menu</button>
				</div>
			</div>
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-sm-9 wrappermakctn">
					<%= render 'layouts/tabakun' %>
					<div class="row">
						<div class="col-md-12">
							<a data-no-turbolink="true" class="tambahalmt-btn" href="rekenings/new"><i class="fa fa-plus"></i> Tambah Rekening Bank</a>
              <p id="notice"><%= notice %></p>
							<div class="row">
								<div class="col-md-12">
                  <% @rekenings.each do |rekening| %>
									<div class="colomacr">
										<div class="row">
											<div class="col-md-4 col-sm-6">
												<div class="leftctnrek">
                          <% if rekening.nama_bank == "BCA" %>
													<img src="<%= image_path "bca.png" %>" class="responsiveimg">
                          <% elsif rekening.nama_bank == "BNI" %>
                          <img src="<%= image_path "rek2.png" %>" class="responsiveimg">
                          <% else %>
                          <img src="<%= image_path "rek1.png" %>" class="responsiveimg">
                          <% end %>
													<div class="optionrek">
														<a href="<%= edit_rekening_path(rekening) %>"><span><i class="fa fa-pencil"></i> Ubah</span></a>
                            <a data-confirm="Apakah anda yakin?" rel="nofollow" data-method="delete" href="rekenings/<%= rekening.id %>"><i class="fa fa-times"></i> Hapus</a>
													</div>
												</div>
											</div>
											<div class="col-md-8 col-sm-6">
												<div class="listrightrek">
													<label for="nmpmlk">Nama Pemilik</label>
													<p><%= rekening.pemilik %></p>
												</div>
												<div class="listrightrek">
													<label for="nmpmlk">No.Rekening</label>
													<p><%= rekening.nomor_rekening %></p>
												</div>
												<div class="listrightrek">
													<label for="nmpmlk">Nama Bank</label>
													<p><%= rekening.nama_bank %></p>
												</div>
												<div class="listrightrek">
													<label for="nmpmlk">Cabang</label>
													<p><%= rekening.cabang %></p>
												</div>
											</div>
										</div>
									</div><% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="spacerbig"></div>
    <%= render 'layouts/footer' %>
    <script>
      $( document ).ready(function() {
          $("#notice").delay(3000).fadeOut("slow");
      });
    </script>










<p id="notice"><%= notice %></p>

<h1>Listing Rekenings</h1>

<table>
  <thead>
    <tr>
      <th>Pemilik</th>
      <th>Cabang</th>
      <th>Nomor rekening</th>
      <th>Nama bank</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rekenings.each do |rekening| %>
      <tr>
        <td><%= rekening.pemilik %></td>
        <td><%= rekening.cabang %></td>
        <td><%= rekening.nomor_rekening %></td>
        <td><%= rekening.nama_bank %></td>
        <td><%= rekening.user_id %></td>
        <td><%= link_to 'Show', rekening %></td>
        <td><%= link_to 'Edit', edit_rekening_path(rekening) %></td>
        <td><%= link_to 'Destroy', rekening, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rekening', new_rekening_path %>
