		<!-- Header -->
    <%= render 'layouts/header' %>
		<div id="topkeyword">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobilemenu-opener ma5-toggle-menu"><i class="fa fa-bars"></i></div>
						<nav class="ma5-menu-mobile">
							<ul class="ma5-ul ma5-active-ul">
								<li class="ma5-li-1"><a class="ma5-toggle-menu"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-times"></i></span></a></li>
								<li class="ma5-li-2"> <a class="ma5-path-to-active" href="#node2">Semua Kategori</a><span class="ma5-btn-enter"><i class="fa fa-angle-right"></i></span>
									<ul class="ma5-ul-2">
										<li class="ma5-li-2-1">
											<div class="ma5-leave-bar"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-angle-left"></i></span></div>
											<a href="#node2-1">Submenu1</a>
										</li>
										<li class="ma5-li-2-2"><a href="#node2-2">Submenu2</a></li>
										<li class="ma5-li-2-3"> <a class="ma5-path-to-active" href="#node2-3">Submenu3</a><span class="ma5-btn-enter"><i class="fa fa-angle-right"></i></span>
											<!-- active panel -->
											<ul class="ma5-ul-2-3">
												<li class="ma5-li-2-3-1">
													<div class="ma5-leave-bar"><span class="ma5-btn-leave closemobomenu"><i class="fa fa-angle-left"></i></span></div>
													<a href="#node2-3-1">Isi Submenu3-1</a>
												</li>
												<li class="ma5-li-2-3-3"><a href="#node2-3-3">Isi Submenu3-2</a></li>
												<li class="ma5-li-2-3-4"><a href="#node2-3-4">Isi Submenu3-3</a></li>
											</ul>
										</li>
										<li class="ma5-li-2-4"><a href="#node2-4">Submenu4</a></li>
									</ul>
								</li>
								<li class="ma5-li-3"><a href="#node3">e-voucher</a></li>
								<li class="ma5-li-4"><a href="#node4">Hot Deals</a></li>
								<li class="ma5-li-6"><a href="#node6">Voucher Deals</a></li>
								<li class="ma5-li-6"><a href="#node6">Promo!</a></li>
							</ul>
						</nav>
						<span id="labeltopkeyword">Top Keyword</span>
						<ul id="list-topkeyword">
							<li><a href="#">Xiaomi Redmi</a></li>
							<li><a href="#">Samsung</a></li>
							<li><a href="#">Pakaian muslim</a></li>
							<li><a href="#">Xiaomi redmi</a></li>
							<li><a href="#">Acer Aspire</a></li>
							<li><a href="#">Sneakers</a></li>
							<li><a href="#">Hoodie</a></li>
						</ul>
						<div class="troliatas mobile">
							<div class="itemtrolli">
								<span id="ttmitem">
									<a data-toggle="dropdown" role="button">Troli - (0)</a>
									<ul class="dropdown-menu styleddropdown">
										<li>
											<a href="#" class="wrapctncart">
												<div class="thumbcart">
													<img src="http://placehold.it/120x120" class="responsiveimg">
												</div>
												<div class="ctncart">
													<h4>Sample Product</h4>
													<span class="typeorange">Rp 120.000</span>
												</div>
											</a>
										</li>
										<li><a href="#" class="lhsm-btn cart">Checkout</a></li>
									</ul>
								</span>
								<a href="#"><span id="icontroli"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="nav-breadcumb">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="compresedmenu">
							<div class="headingcompresed">
								<i class="fa fa-bars"></i> &nbsp; <span>Kategori</span> &nbsp; <i class="fa fa-angle-down"></i>
							</div>
							<div id="sidemenu" class="ctn-compresed">
								<ul>
									<li>
										<span class="iconsidemenu ifashion"></span> Fashion
										<div class="submenu">
											<div class="rowsubmenu col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terbaru</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu  col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terpopuler</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terbaru</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
											<div class="rowsubmenu  col-md-6">
												<a href="#"><h4 class="haedingsub">Pakaian Terpopuler</h4></a>
												<ul>
													<li><a href="#">Pria</a></li>
													<li><a href="#">Wanita</a></li>
													<li><a href="#">Anak</a></li>
												</ul>
											</div>
										</div>
									</li>
									<li>
										<span class="iconsidemenu igadget"></span> Gadget / Komputer
									</li>
									<li>
										<span class="iconsidemenu ibeauty"></span> Beauty / Health
									</li>
									<li>
										<span class="iconsidemenu ielektro"></span> Elektronik
									</li>
									<li>
										<span class="iconsidemenu isport"></span> Sport / Hobi / Otomotif
									</li>
									<li>
										<span class="iconsidemenu ihome"></span> Home / Garden
									</li>
									<li>
										<span class="iconsidemenu iservice"></span> Service
									</li>
									<li>
										<span class="iconsidemenu imakanan"></span> Makanan & Minuman
									</li>
								</ul>
							</div>
						</div>
						<div class="breadcumb">
							<span><a href="#">Home</a></span>
							<span>></span>
							<span><a href="#">Daftar</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ./Header -->

		<div class="spacermedium"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="headingblok-logreg reg">
						<h4>Belum Punya Akun? <span class="typeorange">Daftar Gratis!</span></h4>
					</div>
					<div id="blok-registerpanel">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
						<div class="ctnblok-logreg">
              <div class="form-row has-error">
              <%= f.label :Nama_Lengkap %><br />
              <%= f.text_field :namalengkap, autofocus: true, placeholder: "Nama Anda", required: "true", id: "upper" %>
              </div>
              <div class="form-row">
              <%= f.label :Nomor_Handphone %><br />
              <%= f.text_field :nomor_handphone, autofocus: true, placeholder: "Nomor Handphone/Telp", required: true %>
              </div>
              <div class="form-row">
                <%= f.label :Jenis_Kelamin %><br />
                <%= f.radio_button :is_female, true %>
                <span class="rowjk"><%= f.label :is_female, "Wanita", :value => "true" %></span>
                <%= f.radio_button :is_female, false, :checked => true %>
                <span class="rowjk"><%= f.label :is_female, "Pria", :value => "false" %></span>
               </div>

							<div class="form-row">
								<label for="password">Alamat Email</label>
								<input required="true" type="email" name="user[email]" id="password" placeholder="Alamat Email">
							</div>
							<div class="form-row">
								<label for="password">Password</label>
								<input required="true" type="password" name="user[password]" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
							</div>
							<div class="form-row">
								<label for="password">Ketik Ulang Password</label>
								<input required="true "type="password" name="user[password_confirmation]" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
							</div>
							<div class="form-row">
								<input required="true" type="checkbox" name="" value="" class="cexreg"> <span class="cexdes">Saya sudah membaca dan menyetujui <a href="#" class="typered">Syarat dan Ketentuan</a>, serta <a href="#"  class="typered">Kebijakan Privasi</a> Loveitmart</span>
							</div>
							<div class="form-row reg">
								<input type="submit" name="" value="Daftar" class="gosignin" >
							</div>
						</div>
					</div>
          <% end %>
					<div class="spacermedium"></div>
				</div>
				<div class="col-md-6">
					<div class="ctn-otherlogreg">
						<div class="headingblok-logreg bordered">
							<h4>Atau Masuk Dengan:</h4>
						</div>
						<div class="listotherlogin reg">
							<div class="sosmedlogin"><a href="#"><span class="loginoptionbtn facebook"><i class="fa fa-facebook"></i> Facebook</span></a></div>
							<div class="sosmedlogin"><a href="#"><span class="loginoptionbtn twitter"><i class="fa fa-twitter"></i> Twitter</span></a></div>
							<div class="sosmedlogin"><a href="#"><span class="loginoptionbtn gplus"><i class="fa fa-google-plus"></i> Google Plus</span></a></div>
							<div class="sosmedlogin"><a href="#"><span class="loginoptionbtn instagram"><i class="fa fa-instagram"></i> Instagram</span></a></div>
						</div>
						<div class="reg-info">
							<h4><i class="fa fa-info-circle"></i> &nbsp;Informasi Keamanan</h4>
							<ul>
								<li>Praesent et sem posuere turpis ultricies commodo.</li>
								<li>Pellentesque scelerisque risus sed odio ullamcorper, ac maximus lorem imperdiet.</li>
								<li>Maecenas a velit semper, eleifend elit ut, lobortis est.</li>
								<li>Donec vitae est a nunc sodales sollicitudin in interdum velit.</li>
								<li>Proin iaculis elit eu enim sagittis, sit amet maximus metus condimentum.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="spacerbig"></div>
    <%= render 'layouts/footer' %>

		<script>
      $(document).ready(function() {
				var owl = $(".previewprodukcarousel");
				owl.owlCarousel(
				{
					autoPlay : false,
					items :4,
					pagination : true,
					lazyLoad : true,
					goToFirstSpeed : 2000,
					autoHeight : true,
					responsive:true
				}
				);
			});
		</script>
		<!--=============================== RevoSlider ==============================-->
		<script type="text/javascript">
			var tpj=jQuery;
			//tpj.noConflict();
			tpj(document).on('ready page:load', function () {
				if (tpj.fn.cssOriginal!=undefined)
				tpj.fn.css = tpj.fn.cssOriginal;
				tpj('.revolutionbanner').revolution(
				{
					delay:9000,
					startwidth:'100%', 						// 1100 = default content width
					startheight:335,
					onHoverStop:"off",						// Stop Banner Timet at Hover on Slide on/off
					hideThumbs:0,
					navigationType:"bullet",
					soloArrowLeftHalign:"left",
					soloArrowLeftValign:"center",
					soloArrowLeftHOffset:0,
					soloArrowLeftVOffset:0,
					soloArrowRightHalign:"right",
					soloArrowRightValign:"center",
					soloArrowRightHOffset:0,
					soloArrowRightVOffset:0,
					touchenabled:"On",						// Enable Swipe Function : on/off
					stopAtSlide:-1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
					stopAfterLoops:-1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic
					hideCaptionAtLimit:0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
					hideAllCaptionAtLilmit:0,				// Hide all The Captions if Width of Browser is less then this value
					hideSliderAtLimit:0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value
					fullWidth:"off",
					shadow:0								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)
				});
			});
		</script>

		<script>
			$("#zoom_03").elevateZoom({gallery:'gallery_01', cursor: 'pointer', galleryActiveClass: 'active', imageCrossfade: true, loadingIcon: 'gayana/gambar/icon/clock-loading.gif'});

			$("#zoom_03").bind("click", function(e) {
				var ez =   $('#zoom_03').data('elevateZoom');
				$.fancybox(ez.getGalleryList());
				return false;
			});
		</script>
